.getaway {
  padding-bottom: 140px;

  &__container {
    margin: 0 auto;
    max-width: 1290px;
    padding: 0 15px;
  }
  
  &__text {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
  }
}