body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  padding: 40px 0 0;
  &::before {
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    position: absolute;
    top: 0;
    background: #e08631;
    height: 8px;
    width: 42px;
  }
}

.section-padding {
  padding: 100px 0;
}

.btn-book-now {
  background: #52503b;
  border-radius: 6px;
  padding: 11px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
