.email-input {
  display: flex;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  input {
    padding: 16px 0 16px 30px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  button {
    height: fit-content;
    background: #52503B;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 7px;
  }
}