.escape {
  .wrapper {
    &::before {
      left: 0;
    }
  }

  &__text {
    color: #52503B;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 554px;
  }

  &__columns-container {
    display: grid;
    gap: 32px;
    grid-template-rows: 4;
    grid-template-columns: repeat(2, 1fr);
  }

  &__column {
    display: flex;
  }

  &__column-icon {
    margin-right: 16px;
  }


  &__column-title {
    font-size: 14px;
    line-height: 20px;
    color: #52503B;
  }

  &__column-description {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

}